<center><h1>Show Page</h1>
<hr style="width: 25%"/>
<h4>
  <%= @article.title %>
</h4>
<hr style="width: 50%"/>

<h4>
  <%= @article.description %>
</h4>

  <hr style="width: 75%"/>

<h4>
  <% if @article.categories.any? %>
    <p>Categories: <%=render @article.categories %></p>
  <%end %>

</h4>

  <hr style="width: 75%"/>
    <%= link_to 'Articles', articles_path, :class => 'text-success',:style =>'font-size:20px'%> <br/>
  <%	 if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to 'Edit this article', edit_article_path(@article),:class => 'text-primary',:style =>'font-size:20px' %>  <br/>
    <%= link_to 'Delete this article', article_path(@article),:class => 'text-danger',:style =>'font-size:20px',method: :delete, data: {confirm: 'Are you sure?'} %><br/>
  <%	 end %>
  <hr/>


</center>