<center>
  <% if @categories.count > 0  %>
      <h1>Categories</h1>
      <%=	 will_paginate @categories %>



      <% @categories.each do |category| %>



          <div class="row">

            <div class="col-xs-8 col-xs-offset-2">

              <div class="well well-lg">
                <p> <%if category.articles %>
                      <%= category.articles.count %>

                  <% end %> Articles</p>

                <div class="article-title">

                  <%= link_to category.name, category_path(category) %>

                </div>
                <%	 if logged_in? && (current_user.admin) %>

              <%= link_to "Edit this category", edit_category_path(category), class: "btn btn-xs btn-success" %>


                <% end %>
            </div>
          </div>
        </div>




<% end %>
      <%=	 will_paginate @categories %>

      <% else %>

  <p>There are no categories that are created as of yet</p>


  <% end %>
</center>